@charset "UTF-8";
body {
  margin: 0;
  overflow: hidden;
  background-image: url(../img/pozadi.png);
  background-repeat: no-repeat;
  background-size: cover;
}

#h1 {
  font-family: 'Comfortaa';
  font-size: 25px;
  font-weight: 700;
  color: #3c3c3c;
  text-align: center;
  padding-bottom: 10px;
  margin-bottom: 45px;
  margin-top: 228px;
  border-bottom: 2px solid #d6d6d6;
  display: block;
}

h2 {
  display: block;
  float: left;
  width: 95%;
  padding: 10;
  font-family: "Century Gothic";
  padding-top: 37px;
  border-bottom: 2px solid #c8c8c8;
  margin-left: auto;
  margin-right: auto;
}

h3 {
  background: #d9d9d9;
  color: #313131;
  text-align: center;
  font-family: "Century Gothic";
  font-size: 30px;
  margin-top: 0px;
  margin-bottom: 0;
  height: 50px;
  padding-top: 10px;
  border-bottom: 2px solid white;
}

hr {
  display: block;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  margin-inline-start: auto;
  margin-inline-end: auto;
  overflow: hidden;
  border-style: dotted;
  border-width: 1px;
  color: black;
}

li {
  font-family: 'Comfortaa';
  padding: 1px 0px 10px 10px;
}

a#odkaz {
  color: darkred;
}

img {
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 15px;
}

p {
  font-family: 'Comfortaa';
  color: #333333;
  text-align: center;
}


option {
  color: black;
  padding: 5px 0px;
  height: 40px;
}
/*-------------------------- animation --------------------------*/


.blob {
	border-radius: 50%;


	box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
	transform: scale(1);
	animation: pulse 4s infinite;
}

@keyframes pulse {
	0% {
		transform: scale(1);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
	}

	70% {
		transform: scale(1.1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(1);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}

div#divScore {
  width: 60%;
  float: left;
  text-align: center;
}

div#scoreTable {
  background: #0000008a;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  height: 40%;
  border-radius: 0px 0px 14px 14px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 1px 5px 20px 0 rgba(0, 0, 0, 0.54);
}

div#info {
  background-image: url(box.jpg);
  background-position: top;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 14px 14px 14px 14px;
  margin-top: 5%;
  height: 50%;
  overflow: hidden;
  transition-duration: 1s;
}

div#info.expand{
    width: 80%;
    height: 90%;
    position: absolute;
    display: block;
    z-index: 10;
    margin-top: -15%;
    margin-left: 10%;
}

div#resizer {
  font-family: 'Comfortaa';
  text-align: center;
  background: red;
  font-size: 5px;
  color: white;
  padding: 5px 0px;
  transition-duration: 1s;
  cursor: pointer;
}

div#resizer:hover {
  font-family: 'Comfortaa';
  text-align: center;
  background: red;
  font-size: 20px;
  color: white;
  padding: 10px 0px;
  cursor: pointer;
}

div#content {
  overflow-y: scroll;
  padding-left: 20px;
  padding-right: 20px;
  height: 70%;
  padding-bottom: 30px;
}

div#content.expand {
  padding-left: 150px;
  padding-right: 150px;
  height: 82%;
  font-size: 25px;
  margin-top: 20px;
}


::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #afafaf;
    height: 50%;
    padding-right: -37px;
    margin-top: 5%;
    margin-bottom: 5%;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #424242;
  height: 50%;
  margin-top: 16px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}


div#game {
  float: right;
  width: 60%;
  height: 90%;
}

div#news {
  float: left;
  width: 100%;
  height: 45px;
  margin-top: 12px;
}

div#leftPanel {
  float: left;
  width: 40%;
  height: 90%;
}

div#live {
  float: left;
  background-color: red;
  width: 7%;
  height: -webkit-fill-available;
  font-family: 'Comfortaa';
  font-weight: bolder;
  color: white;
  padding-left: auto;
  text-align: center;
  padding-top: 12px;
  font-size: 22px;
  border-radius: 0px 14px 14px 0px;
  position: relative;
  cursor: pointer;
}

 div#live:hover {
transform: scale(0.8) !important;
cursor: pointer;
}

div#ruleText {
  margin-bottom: 150px;
}

div#text {
  float: left;
  width: 75%;
  height: -webkit-fill-available;
  background: #000000a3;
  color: white;
  font-family: 'Comfortaa';
  color: white;
  padding-left: 25px;
  border-radius: 0px 14px 14px 0px;
  padding-top: 14px;
  margin-left: -15px;
}

div#round {
  float: left;
  width: 15%;
  height: -webkit-fill-available;
  font-family: 'Comfortaa';
  font-size: 30px;
  color: white;
  padding-left: auto;
  padding-left: 30px;
  padding-top: 6px;
}

select#selectBox {
  text-align-last: center;
  align-content: center;
  text-align: center;
  width: 100%;
  height: 54px;
  font-size: 23px;
  background: none;
  border: none;
  font-family: 'Comfortaa';
  background: linear-gradient(#131313b3, #303030), url(../img/selectArrow.png) black no-repeat 96% !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 1px 5px 20px 0 rgba(0, 0, 0, 0.54);
  color: #ffffff;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select option {
  margin: 40px;
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
  padding: 20px 0px;
}



div#divOne {
 
  padding-top: 10px;
  background-color: #00000030;
  margin-bottom: 10px;
  height: 55%;
  border-bottom: 5px solid red;
}

div#divTwo {
  text-align: center;
  padding-top: 10px;
  width: 50%;
  float: left;
}

label#score {
  font-size: 5.5vw;
  margin-left: auto;
  margin-right: auto;
  display: block;
  font-family: 'Arvo', serif;
  color: #ff0000;
  text-align: center;
  font-weight: bolder;
  text-shadow: 3px 5px 31px black;
  letter-spacing: 3px;
}



label#scoreLabel, label#mortalityLabel, label#cureLabel {
  font-size: 19px;
  font-family: 'Comfortaa';
  color: #aaaead;
  margin-left: auto;
  margin-right: auto;
  /* display: block; */
  text-align: center;
  border: none;
  background: none;
  height: 36px;
}

label#mortality, label#cure {
  font-size: 1.3vw;
  margin-left: auto;
  margin-right: auto;
  /* display: block; */
  font-family: 'Arvo', serif;
  color: #ffffff;
  text-align: center;
  /* font-weight: bolder; */
  text-shadow: 3px 5px 31px black;
  letter-spacing: 3px;
}

div#divMortality, div#divcure {
  margin-top: 30px;
}

div#divTree {
  width: 33.3%;
  float: left;
  text-align: center;
}

label.value {
  font-size: 2.5vw;
  margin-left: auto;
  margin-right: auto;
  display: block;
  font-family: 'Arvo', serif;
  color: #ff0000;
  text-align: center;
  font-weight: bolder;
  text-shadow: 3px 5px 31px black;
  letter-spacing: 3px;
  margin-top: 8px;
}

label.label {
  font-size: 15px;
  font-family: 'Comfortaa';
  color: #aaaead;
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  border: none;
  background: none;
  height: 36px;
}

div#map {

    height: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5%;
    width: 70%;

}

#centerCell{
  background: rgb(172, 172, 172) !important;
}

table#mapTable {
  float: left;
  table-layout: fixed;
  border-collapse: collapse;
  background: #efefef;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 1px 5px 20px 0 rgba(0, 0, 0, 0.54), inset 0 0 79px -45px #000000;
}

 td {
  /*background-color: transparent !important; /*DEBUG*/
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  border: 1px solid #dcdcdc6b;
  margin: 0;
  padding: 0;
  transition-delay: 0.6s; 

} 

td.cel, td.valid, td.validLast{
  /*transition-delay: 0.8s;*/
  transition-duration: 0.6s;
}

div#player {
  width: 28px;
  height: 28px;
  position: absolute;
  background-image: url(../img/player.png);
  background-size: cover;
  z-index: 1;
  transition-duration: 1s;

}

div#player:hover {
  transform: scale(1.2);
  cursor: pointer;
}

div#player:active, div#player:focus {
  transition-duration: 0.3s;
  transform: scale(0.8);
  cursor: pointer;
}


.blackAndWhite{
  filter: grayscale(100%);
  opacity: 0.9;
}


.mainButton {
  text-align: center;
  width: 200%;
  height: 200%;
  transform: scale(1.1);
  background: rgb(180,0,0);
  border: none;
  font-family: 'Comfortaa';
  color: white;
  font-weight: 700;
  letter-spacing: 3px;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.5), 1px 9px 20px 0 rgba(0, 0, 0, 0.54);
  transition:  0.3s;

  
}

.mainButton:after, .mainButton:hover {
  background: rgb(209, 0, 0);
  box-shadow: inset 0 0 0px 6px #ffffff38;
  transform: scale(1.2);
  cursor: pointer;
  transition:  0.3s;

}


.mainButton:active, .mainButton:focus {
  background: rgb(255, 47, 47);
  transform: scale(0.9);
  cursor: pointer;
  transition:  0.3s;
}



/* ----------------- Itemy ---------------------------- */

div.item, div.human, div.group, div.cure, div.mortality, div.bottle, td.bottleDraw {
  background-color: transparent;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  transition:  0.3s;
  /*transition-delay: 0.7s; */
}


div.item:hover, div.human:hover, div.group:hover, div.cure:hover, div.mortality:hover, div.bottle:hover {
  transform: scale(2);
  cursor: pointer;
}


/* ----------------- Validní pozice na mapě ---------------------------- */

td.path {
  background-image: url(../img/pathPoint.png)!important;
  transition-duration: 0.5s;
  transition-delay: 0.5s;
}

td.path.cell, td.cell.path {
  background-image: url(../img/pathPoint.png), url(../img/cell.png)!important;
  cursor: pointer;
}


td.cell, td.valid.cell, td.validLast.cell, td.valid.validLast.cell{
  background-size: cover;
  background-image: url(../img/cell.png) !important;
  transition:  0.3s;
  transform: scale(1.1);
  cursor: pointer;
}

td.cell:hover, td.valid.cell:hover {
  transform: scale(1.2);
  cursor: pointer;
}

td.cell:active, td.valid.cell:active, td.cell:focus, td.valid.cell:focus  {
  opacity: 0.2;
  transform: scale(0.7);
  cursor: pointer;
}  



td.valid, td.valid.validLast {
  background-image: url(../img/cellPossible.png)!important;
}

td.validLast {
  background-image: url(../img/cellPossibleLast.png)!important;
}


div#loading {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #ffffff7e;
  z-index: 2;
  pointer-events: none;
  opacity: 0;
  transition-duration: 0.5s;
  transition-delay: 0.5s;
  
}

div#imgPreview, div#imgPreviewLong {
  height: 50px;
  max-width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 60px;
}

div#imgPreviewLong {
  height: 100px;
}


div#loadingBox {
  width: 40%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
}

div#loadingImg {
  background-image: url(../img/loading.gif);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 200px;
}

div#loadingText {
  font-family: 'Comfortaa';
  font-size: xx-large;
  color: #ff0000;
  text-align: center;
  font-weight: 700;
  text-shadow: 5px 5px 14px black;
  letter-spacing: 3px;
  margin-top: 25px;
}

[data-title]:hover:after {
  opacity: 1;
  transition: all 0.1s ease 0.5s;
  visibility: visible;
  transition-delay: 1.3s;
}
[data-title]:after {
  content: attr(data-title);
  font-family: 'Comfortaa';
  background-color: #ff0000b5;
  color: #fff;
  font-size: 150%;
  position: absolute;
  padding: 10px;
  padding-right: 20px;
  margin-right: -80px;
  right: 100%;
  white-space: nowrap;
  box-shadow: 1px 1px 3px #000000c7;
  opacity: 0;
  border-right: 20px solid #650000;
  border-radius: 5px 20px 20px 5px;
  z-index: 99999;
  visibility: hidden;
  letter-spacing: 2px;
  transform: scale(0.5);
}
[data-title] {
  position: relative;
}




div#graphicHorizontal {
  margin: 5px 0;
  width: 100%;
  float: left;
  border-bottom: 1px solid #e0e0e0;
  padding: 10px 0px;
}

div#graphicHorizontal label#label {
  font-size: 20px;
  font-family: "Century Gothic";
  margin-right: 24px;
  color: #333333;
  float: left;
  padding-top: 11px;
  font-weight: 600;
}

div#graphicHorizontal input.element, div#graphicHorizontal select.element {
  width: 50%;
  height: 31px;
  background: #dcdcdc;
  border: none;
  color: #232323;
  font-size: 20px;
  font-family: "Century Gothic";
  padding: 20px;
  float: right;
  border-radius: 5px;
}

div#graphicHorizontal select.element {
  padding: 0px 0px 0px 15px;
  height: 40px;
}

div#graphicHorizontal label.element {
  width: 60%;
  height: 31px;
  border: none;
  color: #232323;
  font-size: 20px;
  font-family: "Century Gothic";
  float: right;
  padding-top: 14px;

}


input[type="file"] {
  width: 90% !important;
  height: 65px !important;
  background: #dcdcdc !important;
  border: none !important;
  color: #232323 !important;
  font-size: 20px !important;
  font-family: "Century Gothic" !important;
  padding: 20px !important;
  float: none!important;
  border-radius: 5px !important;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px
}




div#graphicVertical {
  margin: 10px 10px;
  margin: 20px 0px;
  float: left;
  text-align: center;
  padding-bottom: 30px;
  border-bottom: 1px solid #e0e0e0;
}

div#graphicVertical label#label {
  font-size: 20px;
  font-family: "Century Gothic";
  color: #333333;
  margin: 11px 0px;
  display: block;
  font-weight: 700;
  padding-top: 10px;
}

div#graphicVertical input.element, div#graphicVertical select.element {
  width: 100%;
  height: 31px;
  background: #dcdcdc;
  border: none;
  color: #232323;
  font-size: 20px;
  font-family: "Century Gothic";
  padding: 20px;
  margin-top: 6px;
  border-radius: 5px;
  width: 80%;
  text-align: center;
}

div#graphicVertical select.element {
  padding: 0px 0px 0px 15px;
  height: 40px;
  width: 80%;
  text-align-last: center;
}

div#graphicVertical label.element {
  width: 100%;
  height: 31px;
  border: none;
  color: #232323;
  font-size: 20px;
  font-family: "Century Gothic";
  padding-top: 6px;
  margin-top: 6px;
  display: block;
}


div#achievement {
  position: relative;
  width: 40%;
  height: 50%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  z-index: 999;
}


div#achievementContent {
  background: white;
  width: 100%;
  height: 100%;
  margin-top: 20%;
  position: absolute;
  border-radius: 15px;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 1px 5px 50px 0 rgba(0, 0, 0, 0.54);
  transition-duration: 0.5s;
}

div#achievementContent.hide {
  margin-top: -105%;
}

div#achievementContent:hover {
  transform: scale(0.99);
  cursor: pointer;
}

div#achievementContent:active {
  transform: scale(0.97);
  cursor: pointer;

}

div#achievementImg {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 80%;
}

div#achievementText {
  font-family: 'Comfortaa';
  font-weight: bolder;
  color: black;
  padding-left: auto;
  text-align: center;
  padding-top: 12px;
  font-size: 1.4vw;
}

label#addMortality, label#addCure {
  color: red;
  font-weight: 900;
  font-size: 20px;
  margin-left: -30px;
  margin-right: 10px;
  transform: scale(29.5);
  transition-duration: 0.5s;

}

label#addMortality:hover, label#addCure:hover {
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-size: 20px;

}


div#cross {
  position: absolute;
  right: 15px;
  color: black;
  transition-duration: 0.5s;
}

div#cross:hover {
  color: red;
  transform: scale(0.9);
}
/*
select.round {
  background-color: blueviolet;
  font: inherit;
  line-height: 1.5em;
  padding: 0.5em 3.5em 0.5em 1em;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: linear-gradient(#3e3e3e, #1d1d1d);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 1px 5px 20px 0 rgba(0, 0, 0, 0.54);
  background-color: white;
  text-align-last: center;
  align-content: center;
  text-align: center;
  height: 54px;
  font-size: 23px;
  font-weight: 600;
  font-family: 'Comfortaa';
  width: 100%;
}

select.round {

  background-image: linear-gradient(45deg, #ba1b1b00 50%, #7d7d7d 50%), linear-gradient(135deg, gray 50%, transparent 50%), radial-gradient(#ddd 70%, #b91d1d00 72%);
  background-position: calc(100% - 27px) calc(1em + 2px), calc(100% - 22px) calc(1em + 2px), calc(100% - 0.5em) .5em;
  background-size: 5px 5px, 5px 5px, 1.5em 1.5em;
  background-repeat: no-repeat;
}

select.round:focus {
  background-image:
    linear-gradient(45deg, white 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, white 50%),
    radial-gradient(gray 70%, transparent 72%);
    background-position: calc(100% - 22px) 1em, calc(100% - 27px) 1em, calc(100% - .5em) .5em;
  background-size:
    5px 5px,
    5px 5px,
    1.5em 1.5em;
  background-repeat: no-repeat;
  border-color: green;
  outline: 0;
}*/